<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">

  <div class="login-area">
    <input class="single-field" type="text" formControlName="username" placeholder="username">
    <mat-error *ngIf="form.get('username').touched">
      Please enter a valid login
    </mat-error>
  </div>

  <div class="login-area">
    <input class="single-field" type="password" formControlName="password"
           placeholder="password">
    <mat-error *ngIf="form.get('password').touched">
      Please enter password
    </mat-error>

  </div>

  <button mat-flat-button type="submit" [disabled]="form.invalid">Войти
  </button>

</form>
