<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">

  <div class="login-area">
    <input class="single-field" type="text" formControlName="username"
           placeholder="username">
    <span class="field-error" *ngIf="form.get('username')?.touched">
      Please enter a valid login
    </span>
  </div>

  <div class="login-area">
    <input class="single-field" type="password" formControlName="password"
           placeholder="password">
    <span class="field-error" *ngIf="form.get('password')?.touched">
      Please enter password
    </span>
  </div>

  <button mat-flat-button type="submit" [disabled]="form.invalid">Войти
  </button>

</form>
