.container {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 100%;
  grid-template-areas:
    "header login"
    "img registration";
}

.header-area {
  display: grid;
  grid-area: header;
  align-items: center;
  justify-items: center;
}

.login-area {
  grid-area: login;
  justify-items: stretch;
}

.img-area {
  grid-area: img;
  background-image: url("../../../assets/img/img.png");
}

.registration-area {
  grid-area: registration;
}

.brand {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  padding-left: 70px;
}
